.vacancies-list th {
  vertical-align: middle;
}

.sorting-area {
  display: inline-block;
  color: grey;
  text-align: center;
  padding: 0 2em;
  border: dashed 1px silver;
  background: #fefefe;
}

.sorting-area:hover {
  cursor: move;
}

.vacancies-list.sorting-process {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: move;
}

