.section__staff {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 0;
  padding-bottom: 2rem;

  background: linear-gradient(to right, $color-bright 0%, $color-bright-light 100%);

  .section__staff-plot {
    display: flex;
    justify-content: center;
    align-items: center;

    max-width: 80rem;
    height: 30rem;

    overflow: hidden;

    @media screen and (max-width: 1599px) {
      height: 24rem;
    }

    @media screen and (max-width: 1279px) {
      height: 16rem;
    }

    @media screen and (max-width: 767px) {
      height: auto;
    }
  }

  .section__staff-count {
    display: flex;
    flex-direction: column;

    width: 30rem;
    max-width: 100%;
    padding: 2rem;
    text-align: center;

    color: white;

    .section__staff-count-strong {
      display: block;

      font-family: $font-numbers;
      font-size: 5rem;
      font-weight: 300;
      line-height: 1.2;
    }
  }

  @media screen and (max-width: 1023px) {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 0;
  }
}
