<div class="btn-group location-selector" role="group" aria-label="...">
  <button *ngFor="let location of locations"
          type="button"
          [ngClass]="{btn: true, 'btn-default': true, active: currentLocation === location}"
          (click)="locationChange(location)">
    {{location.name}}
  </button>
</div>
